*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: poppins, sans-serif;
}

/* General Styles */

.nav-container,
.nav-content,
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  padding: 5rem;
  margin-bottom: 200px;
}

.nav-container img {
  border-radius: 50px;
  width: 30%;
  max-width: 60px;
  margin: 0 100px;
}

.nav-container img:hover {
  transform: scale(1.5);
}
.nav-content {
  column-gap: 50px;
  margin: 0px 100px;
}
.nav-content a {
  text-decoration: none;
  color: #ffff;
  font-size: 1.3rem;
}

.nav-content a:hover {
  color: #ffd700;
  transition-delay: color 300ms ease-in-out;
  cursor: pointer;
}

.menuBtn {
  display: none;
}
.menu {
  display: none;
}

.about-head {
  text-align: start;
  font-size: 1.5rem;
  padding: 5px;
  color: #ffff;
}
.about-text-container {
  background-color: goldenrod;
  color: #ffff;
  display: flex;
  width: 80%;
  height: 400px;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto;
  margin-bottom: 200px;
}
.about-text-container img {
  margin: 0 auto;
  width: 500px;
  max-height: 400px;
}
.about-text {
  font-size: 2rem;
  color: #fff;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 16px;
  text-align: center;
  width: 200px;
  margin-bottom: 7rem;
}
.about-text h2 {
  font-family: nexa;
  font-weight: lighter;
}
.explore-btn {
  margin-top: 25px;
  padding: 10px 20px;
  width: 50%;
  background-color: #8b4513; /* Chocolate brown */
  color: white;

  border-radius: 10px;
  font-size: 16x;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #a0522d; /* Slightly lighter brown */
}

/*  Body image section*/

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 200px;
}
.img-contents {
  display: flex;
  gap: 5.2rem;
}
.img-container img {
  width: 50%;
  max-width: 300px;
  gap: 5rem;
  border-radius: 16px;
  border: 2px solid #f39c12;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.about-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  gap: 3rem;
}

.about-image {
  width: 300px;
  border-radius: 16px;
  height: 350px;
  object-fit: cover;
  border-right: 1px solid #eee;
  margin-left: 40px;
}

.about-text {
  padding: 30px;
  margin-top: 100px;
  margin-right: 20px;
  font-family: "Segoe UI", sans-serif;
  flex: 1;
  color: black;
}

.about-text h2 {
  font-size: 1.5rem;
  background-color: #8b0000;
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.about-text p {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 20px;
}

.explore-btn {
  background-color: #8b0000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #a30000;
}
/*video section styles*/

.testimonial {
  text-align: center;
  margin-bottom: 2rem;
  color: #a30000;
  border-radius: 16px;
  font-size: 1.5rem;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 20px;
  margin-bottom: 200px;
}

.video-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  max-width: 500px;
  width: 100%;
  transition: transform 0.3s ease;
}

.video-card:hover {
  transform: scale(1.02);
}

.video-card video {
  border-radius: 8px;
  width: 100%;
  height: 500px;
}

/* footer styles*/

.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 40px 20px 20px;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 15px 5px 5px 5px #f39c12;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo h2 {
  margin: 0px 20px 0 0;
  font-size: 24px;
  color: #f39c12;
}
.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 20px 0px;
}
.footer-text p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #bdc3c7;
}

.footer-text a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #95a5a6;
}

.footer-social {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
}

.footer-social a {
  color: #ecf0f1;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #f39c12;
  transform: scale(1.5);
  transition-delay: 200ms;
}

/*Responsive design for large screen devices */
@media (max-width: 1024px) {
  .about-text-container {
    flex-direction: row;
  }

  .explore-btn {
    width: 80%;
    background-color: #8b0000;
    color: white;
  }
  .img-contents {
    gap: 2rem;
  }
  .img-container img {
    width: 100%;
    max-width: 250px;
  }

  .about-card {
    max-width: 800px;
    width: 100%;
    gap: 2.5rem;
  }

  /*Responsive design for tablet devices*/

  /* Tablet View (768px and below) */

  @media (max-width: 768px) {
    .nav-container {
      padding: 50px;
      margin-bottom: 200px;
    }

    .nav-content {
      column-gap: 20px;
      margin: 0 auto;
    }

    .about-text-container {
      flex-direction: column;
      height: auto;
      padding: 2rem;
      gap: 2rem;
      border-radius: 16px;
    }
    .about-head {
      text-align: center;
      font-size: 1.5rem;
      padding: 5px;
      color: #ffff;
    }
    .about-text-container img {
      width: 100%;
      max-width: 400px;
      border-radius: 16px;
    }

    .about-text {
      font-size: 1.2rem;
      margin: 0;
      padding: 1rem;
      width: 100%;
    }

    .explore-btn {
      margin-top: 25px;
      padding: 10px 20px;
      width: 100%;
      background-color: #8b0000;
      color: white;
    }

    .img-container {
      flex-direction: column;
      padding: 1rem;
    }

    .img-contents {
      flex-direction: column;
      gap: 3rem;
    }

    .img-container img {
      width: 100%;
      max-width: 350px;
    }

    .about-card {
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
      max-width: 350px;
      width: 100%;
    }

    .about-image {
      width: 100%;
      height: auto;
      margin-left: 0;
      border-right: none;
    }

    .about-text {
      margin-top: 0;
      padding: 1rem;
    }
    .testimonial {
      font-size: 1.3rem;
    }
    .video-card video {
      border-radius: 8px;
      width: 100%;
      height: 350px;
    }
  }

  /*  Mobile View (480px and below) */

  @media screen and (max-width: 480px) {
    .nav-content {
      display: none;
    }
    .nav-container {
      margin-bottom: 100px;
    }
    .nav-container img {
      border-radius: 30px;
      width: 50%;
      max-width: 50px;
    }
    .menuBtn {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      margin-top: 10px;
      margin: 0 auto;
      color: #ffff;
    }
    .menu {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      position: absolute;
      top: 160px;
      left: 0;
      background-color: #000000;
      width: 100%;
      height: 200px;
      padding: 1rem;
      animation: ease-in-out;
    }

    .menu.close {
      display: none;
    }
    .menu a {
      text-decoration: none;
      color: #ffd700;
      letter-spacing: 0.2rem;
      cursor: pointer;
      text-align: center;
      margin: 0 auto;
    }
    .menu a:hover {
      color: rgb(233, 239, 245);
      font-weight: bold;
    }

    .about-head {
      font-size: 1rem;
      text-align: center;
    }
    .about-head p,
    .about-text p {
      font-size: 10px;
    }
    .explore-btn {
      background-color: #8b0000;
      width: 100%;
      font-size: 14px;
    }
    .about-text h2 {
      font-size: 1rem;
    }

    .testimonial {
      font-size: 1rem;
    }
    .video-card {
      padding: 0.5rem;
    }
    .footer {
      margin-top: 100px;
    }
    .footer-logo h2 {
      font-size: 12px;
      margin: 0 auto;
      text-align: center;
    }

    .footer-text p,
    .footer-text a,
    .footer-bottom {
      font-size: 10px;
      margin: 0 auto;
    }

    .footer-social a {
      font-size: 14px;
    }
  }
}
