*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: poppins, sans-serif;
}

/* General Styles */
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 0);
  color: rgb(235, 23, 23);
  font-size: 1.5rem;
  padding: 50px;
}
.nav-container img {
  border-radius: 30px;
}
.nav p {
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  margin-top: 10px;
  font-weight: bold;
}

.text {
  font-size: 2rem;
  color: chocolate;
  margin: 200px 50px 100px 50px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 0px 80px;
  text-align: center;
}
.text h2 {
  font-family: nexa;
  font-weight: lighter;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  margin-top: 100px;
  padding: 20px 0px;
}
.about-container img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 0px 80px;
  border: 2px solid red;
}
.cupcake-1 {
  display: none;
}
.about-text {
  text-align: center;
  padding: 10px;
}
.about-text h2 {
  font-size: 1.5rem;
  color: rgb(235, 23, 23);
  text-shadow: 1px 1px black;
}

.about-text p {
  font-size: 0.9rem;
  margin-top: 5px;
}

/*  Body image section*/

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 30px;
}
.img-container img {
  display: flex;
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 0px 80px;
  border: 2px solid red;
}

/*video section styles*/

.video-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.video-container video {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.testimonial {
  font-size: 1.5rem;
  text-align: center;
  padding: 30px;
  margin: 100px 0;
  background-color: aliceblue;
  border-radius: 0px 80px;
}
.testimonial h2 {
  color: rgb(255, 23, 23);
}

/* footer styles*/

.footer-container {
  text-align: center;
  letter-spacing: 2px;
  color: white;
  background-color: black;
  padding: 50px;
  margin-top: 10px;
}

.footer-container p {
  font-size: 0.8rem;
}

/*Responsive design for large screen devices */

@media screen and (max-width: 1440px) {
  .nav-container {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 200px;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  }
  .img-container img {
    width: 400px;
    height: 400px;
  }
  .about-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 100px;
    padding: 0px;
  }

  .cupcake-1 {
    display: flex;
  }

  .cupcake-2 {
    display: none;
  }

  .testimonial h2 {
    font-size: 3rem;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  }

  .about-container img {
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 0px 80px;
    border: 1px solid red;
  }

  .about-text h2 {
    font-size: 2.5rem;
  }

  .footer-container {
    letter-spacing: 1px;
    padding: 80px;
    margin: 200px 0px 0px 0px;
    text-wrap: wrap;
  }

  .footer-container p {
    font-size: 1rem;
    font-weight: normal;
  }
}

/*Responsive design for tablet devices*/

@media screen and (max-width: 768px) {
  .nav-container {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 200px;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  }

  .img-container img {
    width: 300px;
    height: 300px;
  }

  .text h2 {
    font-size: 2.7rem;
  }

  .cupcake-1 {
    display: flex;
  }

  .cupcake-2 {
    display: none;
  }

  .testimonial h2 {
    font-size: 2.5rem;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  }
  .about-container img {
    display: flex;
    width: 300px;
    height: 300px;
  }

  .about-text h2 {
    font-size: 2.5rem;
  }

  .footer-container {
    letter-spacing: 1px;
    padding: 80px;
    margin: 200px 0px 0px 0px;
    text-wrap: wrap;
  }

  .footer-container p {
    font-size: 1rem;
    font-weight: normal;
  }
}

/*Responsive design for small screen devices */

@media screen and (max-width: 480px) {
  .nav-container {
    font-size: 1rem;
    padding: 1rem;
  }
  .nav p {
    font-size: 0.8rem;
  }
  .nav-container img {
    border-radius: 30px;

    margin-left: 80px;
    width: 50%;
  }
  .text {
    font-size: 1.5rem;
    border-radius: 0px 20px;
    padding: 10px;
  }

  .img-container {
    gap: 25px;
  }

  .about-container {
    margin: 10px 0px;
    padding: 10px;
  }

  .cupcake-1 {
    display: flex;
  }
  .cupcake-2 {
    display: none;
  }

  .about-text h2 {
    font-size: 1.7rem;
  }

  .about-text p {
    font-size: 0.8rem;
  }

  .testimonial {
    font-size: 1rem;
    padding: 10px;
  }

  .video-container video {
    max-width: 200px;
  }
  .footer-container {
    padding: 25px;
  }
  .footer-container p {
    font-size: 0.7rem;
  }
}
