*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: poppins, sans-serif;
}

/* General Styles */

.nav-container,
.nav-content,
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  padding: 5rem 2rem;
  margin-bottom: 100px;
}

.nav-container img {
  border-radius: 50px;
  width: 30%;
  max-width: 60px;
}

.nav-container img:hover {
  transform: scale(1.5);
}
.nav-content {
  column-gap: 40px;
}
.nav-content a {
  text-decoration: none;
  color: #ffff;
  font-size: 1.3rem;
}

.nav-content a:hover {
  color: #ffd700;
  transition-delay: color 300ms ease-in-out;
  cursor: pointer;
}

.menuBtn {
  display: none;
}
.menu {
  display: none;
}

.about-us-text {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  /* margin: 2rem auto; */
  color: #a30000;
}

.about-us-container {
  background-color: #f39c12;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 300px;
  padding: 40px 20px;
}

.about-us-contents {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-us-h2 h2 {
  color: #fff;
  margin-left: 1rem;
  font-size: 2rem;
  text-align: center;
}

.info-text {
  text-align: justify;
  flex-wrap: wrap;
  color: #ffff;
  font-size: 1rem;
}
.img-container {
  background-color: rgb(48, 47, 47);
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.img-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.img-contents img {
  width: 300px;
  height: auto;
  border: 1px solid #ffd700;
  box-shadow: 0px 2px 5px 0px #bdc3c7;
  border-radius: 10px;
}
/*video section styles*/

.testimonial {
  text-align: center;
  margin-bottom: 2rem;
  color: #a30000;
  border-radius: 16px;
  font-size: 1.5rem;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 20px;
  margin-bottom: 200px;
}

.video-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  max-width: 500px;
  width: 100%;
  transition: transform 0.3s ease;
}

.video-card:hover {
  transform: scale(1.02);
}

.video-card video {
  border-radius: 8px;
  width: 100%;
  height: 500px;
}

/* footer styles*/

.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 40px 20px 20px;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 15px 5px 5px 5px #f39c12;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo h2 {
  margin: 0px 20px 0 0;
  font-size: 24px;
  color: #f39c12;
}
.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 20px 0px;
}
.footer-text p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #bdc3c7;
}

.footer-text a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #95a5a6;
}

.footer-social {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
}

.footer-social a {
  color: #ecf0f1;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #f39c12;
  transform: scale(1.5);
  transition-delay: 200ms;
}

/*Responsive design for large screen devices */
@media screen and (max-width: 1200px) {
  .img-contents {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
  }

  .img-contents img {
    height: 400px;
    border-radius: 10px;
    /* margin: 0 auto; */
  }
}
/*Responsive design for large screen devices */
@media screen and (max-width: 1024px) {
  .nav-content a {
    column-gap: 25px;
  }
  .about-us-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .img-contents {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
  }

  .img-contents img {
    height: 400px;
    border-radius: 10px;
  }
  .footer-logo h2 {
    font-size: 16px;
    text-align: center;
  }

  .footer-text p,
  .footer-text a,
  .footer-bottom {
    font-size: 12px;
  }

  .footer-social a {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .nav-content {
    display: none;
  }
  .nav-container {
    margin-bottom: 100px;
  }
  .nav-container img {
    border-radius: 30px;
    width: 50%;
    max-width: 50px;
    margin: 0;
  }
  .menuBtn {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 10px;
    margin: 0;
    color: #ffff;
  }
  .menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: absolute;
    top: 160px;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 300px;
    padding: 1rem;
    animation: ease-in-out;
  }

  .menu.close {
    display: none;
  }
  .menu a {
    text-decoration: none;
    color: #ffff;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-align: center;
    margin: 1rem auto;
  }
  .menu a:hover {
    color: rgb(233, 239, 245);
    font-weight: bold;
  }
  .about-us-h2 h2 {
    font-size: 1.5rem;
  }

  .about-us-contents {
    gap: 1.5rem;
  }
  .img-container {
    background-color: #2c3e50;
  }
  .img-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .testimonial {
    font-size: 1rem;
  }
  .video-card {
    padding: 0.5rem;
  }
  .footer {
    margin-top: 100px;
  }
  .footer-logo h2 {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
  }

  .footer-text p,
  .footer-text a,
  .footer-bottom {
    font-size: 14px;
    margin: auto;
  }

  .footer-social a {
    margin-bottom: 15px;
    font-size: 14px;
  }
}

/*  Mobile View (480px and below) */

@media screen and (max-width: 480px) {
  .nav-content {
    display: none;
  }
  .nav-container {
    margin: 0px;
    margin-bottom: 50px;
  }
  .nav-container img {
    border-radius: 30px;
    width: 50%;
    max-width: 50px;
  }
  .menuBtn {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 10px;
    margin: 0 auto;
    color: #ffff;
    margin: 0;
  }
  .menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: absolute;
    top: 210px;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 200px;
    padding: 1rem;
    animation: ease-in-out;
  }

  .menu.close {
    display: none;
  }
  .menu a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
  }
  .menu a:hover {
    color: rgb(233, 239, 245);
    font-weight: bold;
  }
  .about-us-container {
    display: flex;
    flex-direction: column;
  }
  .img-contents {
    display: flex;
    flex-direction: column;
  }

  .about-us-h2 h2 {
    font-size: 1.5rem;
  }

  .info-text {
    color: #ffff;
    font-size: 0.8rem;
  }

  .testimonial {
    font-size: 1rem;
  }
  .video-card {
    padding: 0.5rem;
  }
  .footer {
    margin-top: 100px;
  }
  .footer-logo h2 {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }

  .footer-text p,
  .footer-text a,
  .footer-bottom {
    font-size: 10px;
    margin: 0 auto;
  }

  .footer-social a {
    font-size: 14px;
  }
}
